:root {
  --main-color: #70538d;
}
* {
  box-sizing: border-box;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.39);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9998 !important;
  transition: 0.3s;
  opacity: 0;
}
.--overlay-inboxed {
  z-index: 10000 !important;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.151);
  justify-content: center !important;
  align-items: center;
}
.--reset {
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.3s;
  z-index: 9999;
}
.--happening {
  opacity: 1;
  transform: translateY(0px);
}
.--leaving {
  opacity: 0;
  transform: translateY(20px);
}
.--pop-up {
  position: absolute;
  top: 100px;
  padding: 20px;
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  left: 0;
  color: white;
}
.--pop-up h2 {
  text-transform: uppercase;
  margin-block-end: 0;
}
.--pop-up p {
  margin-bottom: 25px;
}
.--pop-up div a {
  border: 3px solid white;
  padding: 5px 18px;
  /* float: right; */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  transition: 0.3s;
  margin-left: 20px;
}
.--pop-up div a:hover {
  color: black;
}
.--pop-up div a:hover::after {
  transform: translateX(0);
}
.--pop-up div a::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-101%);
  transition: 0.3s;
  z-index: -1;
}
.--pop-up div {
  display: flex;
  justify-content: flex-end;
}

.alerter {
  position: absolute !important;
  bottom: 40px;
  padding: 7px;
  top: auto;
  background-color: var(--main-color);
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  height: fit-content;
}
.--disabled {
  border-color: wheat !important;
  color: wheat !important;
  cursor: not-allowed !important;
}
.--disabled::after {
  display: none !important;
}
.prompt-input {
  padding: 5px;
  background: none;
  border-style: none none solid none;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  font-size: 1em;
  position: relative;
  transition: 0.3s;
  width: 300px;
  margin: 20px;
}
.--pop-up input:focus {
  outline: none;
}
.prompt-input:focus {
  border-color: blue;
}
.--notification {
  width: fit-content;
  width: 340px;
  background-color: white;
  border: 1px solid green;
  color: black;
  padding: 10px;
  translate: -50% 0;
  left: 50%;
  --notification-after-duration: 5000ms;
}
.--notification::after {
  content: "";
  bottom: 0;
  background-color: green;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  animation: linear kk reverse;
  animation-duration: var(--notification-after-duration);
  animation-delay: 300ms;
}
@keyframes kk {
  to {
    width: 100%;
  }
}
.--on-hover-pause:hover::after {
  animation-play-state: paused;
}
.x-span {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
}
.x-span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 3px;
  height: 100%;
  transform: rotateZ(-45deg);
  background-color: black;
}
.x-span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 3px;
  height: 100%;
  transform: rotateZ(45deg);
  background-color: black;
}
.--log {
  width: 80%;
  left: 50%;
  translate: -50% 0;
  border-radius: 20px;
  padding: 30px;
}
.--log h2 {
  text-align: center;
}
.bg-yl {
  background-color: yellow;
  color: black;
}
.--pop-up a.link {
  color: #9d75ff;
}
