:root {
  --main-color: #70538d;
}
* {
  box-sizing: border-box;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.39);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9998 !important;
  transition: 0.3s;
  opacity: 0;
}
.alerter {
  position: absolute;
  bottom: 40px;
  padding: 7px;
  background-color: var(--main-color);
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}
.--reset {
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.3s;
  z-index: 9999;
}
.--happening {
  opacity: 1;
  transform: translateY(0px);
}
.--leaving {
  opacity: 0;
  transform: translateY(20px);
}
.pop_up {
  position: absolute;
  top: 100px;
  padding: 20px;
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  left: 0;
  color: white;
}
.pop_up h2 {
  text-transform: uppercase;
  margin-block-end: 0;
}
.pop_up p {
  margin-bottom: 25px;
}
.pop_up a {
  border: 3px solid white;
  padding: 5px 18px;
  /* float: right; */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  transition: 0.3s;
  margin-left: 20px;
}
.pop_up a:hover {
  color: black;
}
.pop_up a:hover::after {
  transform: translateX(0);
}
.pop_up a::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-101%);
  transition: 0.3s;
  z-index: -1;
}
.pop_up div {
  display: flex;
  justify-content: flex-end;
}
